
<h1>Add Car</h1>
<form #addCarForm="ngForm" (submit)="addCar()">


  <div>
    <label for="make" >make</label>
    <input type="text" id="make"name="make" [(ngModel)]="car.make" required>
  </div>

  <div>
    <label for="model" >model</label>
    <input type="text" id="model" name="model" [(ngModel)]="car.model"
           #model="ngModel"
           required>
  </div>

  <div>
    <label for="year" >year</label>
    <input type="number" id="year" name="year" [(ngModel)]="car.year"
           #year="ngModel"
           min="1950"
           max="2050"
           required>
  </div>

  <div>
    <label for="engine" >engine</label>
    <input type="text" id="engine" name="engine" [(ngModel)]="car.engine"
           #engine="ngModel"
           required>
  </div>

  <div>
    <label for="price" >price</label>
    <input type="number" id="price" name="price" [(ngModel)]="car.price"
           #price="ngModel"
           required>
  </div>

  <div>
    <label for="image" >image</label>
    <input type="url" id="image" name="image" [(ngModel)]="car.image"
           #image="ngModel"
           required>
  </div>

  <div>
    <label for="mileage" >mileage</label>
    <input type="number" id="mileage" name="mileage" [(ngModel)]="car.mileage"
           #mileage="ngModel"
           />
  </div>


  <button type="submit"
          [disabled]="!addCarForm.form.valid  "
  >Submit</button>
  <h1>My First Attribute Directive</h1>
  <p myHighlight>Highlight me!</p>
</form>
